body {
	background-image: url(apple_iphone.png), url(congruent_outline.png);
	background-size: 120px, auto;
	background-repeat: no-repeat, repeat;
}

.central {
	display: flex;
	margin: auto;
	margin-top: 1vh;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 300px;
	height: 100px;
	border-radius: 20px;
}

#changeBlock {
	margin-top: 2vh;
	background: rgba(0, 0, 0, 0.2);
	color: #eee;
	font-size: 2em;
}

.descr {
	display: none;
	background: rgba(0, 0, 0, 0.3);
	color: #fff;
	font-weight: bold;
	text-align: center;
}

.button {
	width: 200px; 
	height: 100px;
	box-shadow: 0px 0px 30px 20px #303030;
	font-size: 2em;
}

#newTry {
	display: none;
	width: 100px;
}

#block-of-keys {
	display: flex;
	justify-content: space-around;
}

.arrow-keys {
	height: 150px;
}